Source: openscap-daemon
Section: admin
Priority: optional
Maintainer: Philippe Thierry <phil@reseau-libre.net>
Build-Depends: debhelper (>=9), python (>> 2.7), python-dbus, python-docker, libopenscap8
Standards-Version: 3.9.8
Homepage: https://www.open-scap.org/tools/openscap-daemon
Vcs-Git: https://github.com/pthierry38/openscap-daemon.git
Vcs-Browser: https://github.com/pthierry38/openscap-daemon

Package: openscap-daemon
Architecture: all
Depends: ${misc:Depends}
Multi-Arch: foreign
Recommends: libopenscap8, openssh-client
Suggests: docker
Description: Daemon for infrastructure continuous SCAP compliance check
 This service is a daemon that allow periodic compliance scans of a complete
 infrastructure, supporting local check, remote check, VM or Docker check.
 The daemon is associated to a CLI allowing easy configuration of targets and
 security profiles to evaluate and easy results and reports management
